.wrapper_with_padding
    #doc_show
        %h1.title= @doc.title
        %p= @doc.content

        .buttons
            = link_to "fix doc", edit_doc_path(@doc), class: "button"
            = link_to "trash it", doc_path(@doc), method: :delete, data: {confirm: "are you sure?"}, class: "button"