#banner
    .banner_content
        %h1 File Cabinet
        %p your life's work.
        %button= link_to "enter", new_user_registration_path
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 organize