#banner
    .banner_content
        %h1 File Cabinet
        %p your life's work.
        %button= link_to "enter", new_user_registration_path
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 organize
                %p asdasjd das ds das d s  d  s d sd s d sd sdssdsds sd ds dsd

#bottonm_cta
    .wrapper
        %h2 go Ahead!
        %br
        %button= link_to "join now", new_user_registration_path
